@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html {
	--font-global: var(--font-noto-serif);
}

html[lang='en-US'] {
	--font-global: var(--font-noto-serif);
}

html[lang='zh-CN'] {
	--font-global: var(--font-noto-serif-sc);
}

html[lang='ru-RU'] {
	--font-global: var(--font-noto-serif);
}

html[lang='he-IL'] {
	--font-global: var(--font-noto-serif-hebrew);
}

@theme {
	--color-bg: var(--color-gray-50);
	--color-text: var(--color-gray-700);
	--color-highlight: var(--color-black);
	--color-primary: var(--color-blue-600);
	--color-subtle: var(--color-gray-600);
	--color-faded: var(--color-gray-500);
	--color-border: var(--color-gray-200);

	--color-ic-bg: var(--color-white);
	--color-ic-border: var(--color-gray-200);
}

@layer theme {
	:root {
		color-scheme: light;

		@variant dark {
			color-scheme: dark;
			--color-bg: var(--color-gray-900);
			--color-text: var(--color-gray-200);
			--color-highlight: var(--color-white);
			--color-primary: var(--color-blue-400);
			--color-subtle: var(--color-gray-300);
			--color-faded: var(--color-gray-400);
			--color-border: var(--color-gray-700);

			--color-ic-bg: var(--color-gray-700);
			--color-ic-border: var(--color-gray-600);
		}
	}
}

@layer base {
	details {
		@apply inline-block;
	}

	button:not(:disabled),
	[role='button']:not(:disabled),
	summary {
		@apply cursor-pointer;
	}

	.tide-dynamic-hidden {
		@apply hidden!;
	}

	.tide-dynamic-cursor-zoom-in {
		@apply cursor-zoom-in!;
	}
}

@layer components {
	.tide-button-link {
		@apply border-0 bg-transparent text-primary underline hover:scale-none hover:underline-offset-4 active:scale-none disabled:hover:underline-offset-auto;
	}

	.tide-image-figure {
		@apply relative;
	}

	.tide-image-figure-block {
		@apply mx-auto my-0 max-w-1/2;
	}

	.tide-image-figure-inline {
		@apply inline-block;
	}

	.tide-image-figure-block .tide-image-figure-caption {
		@apply mx-auto mt-1 ht-5 max-w-4/5 text-center text-subtle;
	}

	.tide-image-figure-inline .tide-image-figure-caption,
	.tide-image-masonry .tide-image-figure-caption {
		@apply sr-only;
	}

	.tide-image-block {
		@apply block w-full max-w-full;
	}

	.tide-image-inline {
		@apply inline align-baseline;
	}

	.tide-image-figure-block .tide-image-mask {
		/* @apply absolute z-10 size-full text-center backdrop-blur-3xl backdrop-brightness-50; */
		@apply absolute z-10 ht-[calc(100%-var(--spacing)*6)] w-full text-center backdrop-blur-3xl backdrop-brightness-50;
	}

	.tide-image-figure-inline .tide-image-mask,
	.tide-image-masonry .tide-image-mask {
		@apply absolute z-10 size-full text-center backdrop-blur-3xl backdrop-brightness-50;
	}

	/* .tide-image-mask:has(+ img:not([data-mask])),
    .tide-image-mask:has(+ img[data-revealed]),
    .tide-image-mask:has(+ picture img:not([data-mask])),
    .tide-image-mask:has(+ picture img[data-revealed]) {
        @apply invisible;
    } */

	.tide-image-mask-control {
		@apply absolute inset-s-1/2 top-1/2 max-h-full w-full -translate-1/2 overflow-auto p-4 text-white;
	}

	.tide-image-mask-title {
		@apply mb-4 overflow-hidden;
	}

	.tide-button-reveal {
		/* 需要 text-white 。 */
		@apply mx-auto text-white;
	}

	.tide-image-masonry {
		@apply mx-auto max-w-full;
	}

	.tide-image-masonry-item {
		/* mt 归零覆盖 prose 样式 */
		@apply mt-0! mb-[8px]! w-full max-w-full md:mb-0;
	}

	.pswp__image-caption-container {
		@apply pointer-events-none! absolute start-1/2 top-3/4 z-9! ht-24 w-full -translate-x-1/2;
	}

	.pswp__image-caption {
		@apply mx-auto line-clamp-3 max-h-full w-fit max-w-4/5 rounded-md bg-(--pswp-bg) px-2 py-1 text-center text-(--pswp-icon-color) sm:max-w-2/3;
	}

	.pswp__image-mask.pswp__image-masked {
		@apply absolute size-full overflow-auto bg-(--pswp-bg) text-center text-(--pswp-icon-color);
	}

	.pswp__image-mask:not(.pswp__image-masked) {
		@apply hidden;
	}

	.pswp__image-mask-title {
		@apply absolute inset-s-1/2 top-1/2 mb-4 max-h-full w-4/5 -translate-1/2;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;

	@media (width >=--theme(--breakpoint-sm)) {
		padding-inline: 2rem;
	}

	@media (width >=--theme(--breakpoint-md)) {
		padding-inline: 2rem;
	}

	@media (width >=--theme(--breakpoint-lg)) {
		max-width: var(--container-5xl);
	}

	@media (width >=--theme(--breakpoint-xl)) {
	}

	@media (width >=--theme(--breakpoint-2xl)) {
	}
}

/* for microformats2 compatibility */
/* need to replace h-* with ht-* manually */
@utility ht-* {
	height: --value([number]);
	height: --value(number);
	height: --value(--height-*);
}
@utility ht-auto {
	height: auto;
}
@utility ht-full {
	height: 100%;
}
@utility ht-screen {
	height: 100vw;
}
@utility ht-svh {
	height: 100svh;
}
@utility ht-dvh {
	height: 100dvh;
}
@utility ht-lvh {
	height: 100lvh;
}
@utility ht-fit {
	height: fit-content;
}
@utility ht-min {
	height: min-content;
}
@utility ht-max {
	height: max-content;
}

@custom-variant prose-inline-code {
	&.prose :where(:not(pre) > code):not(:where([class~='not-prose'] *)) {
		@slot;
	}
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Custom styles */

a.active {
	color: var(--color-highlight);
}

#search {
	--search-cancel-space: calc(var(--spacing) * 20);
}

#search .pagefind-ui__form::before {
	opacity: 1;
}

#search .pagefind-ui__search-input {
	width: calc(100% - var(--search-cancel-space));
}

#search .pagefind-ui__search-input::placeholder {
	color: var(--color-highlight);
	font-weight: 400;
	letter-spacing: normal;
}

@media (width >=--theme(--breakpoint-sm)) {
	#search {
		--search-cancel-space: 0px;
	}
}

.markdown-heading {
	position: relative;
}

.markdown-heading:hover .anchor {
	visibility: visible;
}

.markdown-heading .anchor {
	position: absolute;
	display: flex;
	margin: auto;
	opacity: 1;
	justify-content: center;
	align-items: center;
	width: calc(var(--spacing) * 10);
	height: calc(var(--spacing) * 7);
	top: 50%;
	padding-inline-end: calc(var(--spacing) * 4);
	inset-inline-start: calc(-9 * var(--spacing));
	transform: translateY(calc(-50% + 0.1rem));
	transition: opacity 0.2s ease-in-out;
	visibility: hidden;
}

.markdown-heading .anchor .anchor-icon {
	display: inline-block;
	overflow: visible !important;
	vertical-align: text-bottom;
	fill: currentColor;
	height: calc(var(--spacing) * 5);
	width: calc(var(--spacing) * 5);
}

/* Theme select styling */
select {
	background-color: var(--color-bg);
	color: var(--color-text);
	cursor: pointer;
}

select option {
	background-color: var(--color-bg);
	color: var(--color-text);
}
